<main>
  <%= form_for @tweet, url: tweets_path do |f| %>
  <%= f.label :body, "New Tweet" %>
  <%= f.text_area :body %>
  <%= f.submit "Post" %>
  <% end %>

  <% @tweets.each do |twe| %>
  <p>
    <%= twe.body %>
  </p>
  <% end %>

</main>
